# 📌 Настройки базы данных PostgreSQL
DATABASE_URL=postgresql://postgres:password@db:5432/my-honey-shop
# 📌 Настройки сервера
PORT=3000

# 📌 Настройки CORS (разрешенные домены)
CORS_ORIGIN=5173

# 📌 Настройки аутентификации (JWT)
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d

# 📌 Режим отладки
NODE_ENV=development